GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
AGENT_PORT=8000
CORS_ALLOW_ORIGIN=http://localhost:3000
MCP_SERVER_COMMAND=c:\workspace\mcp-assistant\mcp-server\.venv\Scripts\python.exe
MCP_SERVER_ARGS=c:\workspace\mcp-assistant\mcp-server\server.py
